@model IEnumerable<AppLogin.Model.DescripcionMonitoreo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Variable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Variable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdDescripcionMonitoreo">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdDescripcionMonitoreo">Details</a> |
                    
            </td>
        </tr>
}
    </tbody>
</table>
