@model AppLogin.Model.EtapaAprendizaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EtapaAprendizaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgricultor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgricultor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEtapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEtapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
