@model AppLogin.Model.Cosechas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cosechas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCosecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCosecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadRecogida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadRecogida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCultivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCultivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCosechas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
